.body {
  background: #000;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar {
  display: flex !important;
  justify-content: space-between;
}
.nav-link {
  margin-top: 46px;
}

.nav-link a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 9px;
  font-size: 18px;
  font-weight: 400;
}
.nav-h1 {
  color: #e6533c;
  font-size: 27px;
  font-weight: 800;
}
.a1 {
  color: white;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding: 6px 12px 6px 12px;

  background: rgb(230, 83, 60);
  border-radius: 46px;
}

/*  Hero  */
.hero {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}
.hero button {
  font-size: 13px;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
}
.b1 {
  background: rgb(230, 83, 60);
}
.hero-h {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 50px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.h-left {
  padding-left: 100px;
  padding-top: 80px;
}

.h-img {
  padding-right: 40px;
  position: absolute;
  width: 349px;
  height: 580px;
  left: 877px;
  top: 135px;
}

.hero-p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
