.body {
  background: #000;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar {
  display: flex !important;
  justify-content: space-between;
}
.nav-link {
  margin-top: 46px;
}

.nav-link a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 9px;
  font-size: 18px;
  font-weight: 400;
}
.nav-h1 {
  color: #e6533c;
  font-size: 27px;
  font-weight: 800;
}
.a1 {
  color: white;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding: 6px 12px 6px 12px;

  background: rgb(230, 83, 60);
  border-radius: 46px;
}

/*  Hero  */
.hero {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}
.hero button {
  font-size: 13px;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
}
.b1 {
  background: rgb(230, 83, 60);
}
.hero-h {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 20px;
}
.h-left {
  padding-left: 100px;
  padding-top: 80px;
}

.h-img {
  /* padding-right: 40px; */
  /* position: absolute; */
  width: 349px;
  /* height: 580px; */
  /* left: 877px; */
  top: 135px;
}
.span {
  font-style: italic;
  font-size: 90px;
}

.hero-p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 24px;
}

/* habit */
.habit-h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 36px;
  font-weight: 900;
  line-height: 120%;
}
.habit-p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}
.card {
  text-align: center;
}
.img-section {
  margin-top: 56px;
  margin-bottom: 70px;
  display: flex;
  gap: 50px;
}
.img-sec {
  border-radius: 100px;
  margin-left: 30px;
}
.sec-h {
  color: rgb(255, 255, 255);
  font-family: Inter;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  /* letter-spacing: 0%;
text-align: left; */
}
.sec-p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}

/* 
run  */
.run-h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.run-p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}

.run-btn {
  font-size: 13px;
  font-weight: 600;
  padding: 13px 40px 13px 40px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
}

.run-main {
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  padding: 40px;
  background: rgb(34, 34, 34);
}

.run-img {
  width: 366px;
  border-radius: 18px;
  height: 312px;
  left: 662px;
  top: 30px;
}

.bmi-h {
  color: rgb(255, 255, 255);

  font-size: 39px;
  font-weight: 900;
  text-align: center;
}

.bmi-p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.calculator {
  background: rgb(34, 34, 34);
}

/*  footer */
.foot-h1 {
  font-size: 60px;
  color: red;
}

.foot-p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.foot-h2 {
  color: wheat;
  font-size: 30px;
}

.footer-services {
  color: rgb(255, 255, 255);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.copy {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 35px;
  padding-top: 23px;
}
